
/* Overall website content*/

/*Set fixed size of box*/
* {
	box-sizing: border-box;
}

body {
	background-color: #4aaaa5;
	margin: 0;
	padding: 0;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 150%;
	width: 1024px;
}

/*Define overall working area of website container*/
.container {
	background-color: #dddddd;
	padding-left: 32px;
}

/*Define header section*/
.heading-content {
	background-color: #ffffff;
	/*add background pattern*/
	background-image: url(../images/old_map.png);
	height: 95px;
}

header {
	color: #ffffff;
	background-color: #4aaaa5;
	text-align: center;
	padding: 10px 0 10px 0;
	width: 30%;
	font-family: "Georgia", Times, "Times New Roman", serif;	
}

/*Position the links in heading section to the right*/
.connection {
	position: absolute;
	top: 10px;
	left: 720px;
	padding: 10px;
}

a {
	color: gray;
	display: inline-block;
	margin: 10px;
}

/*Change color of link when hover over*/
a:hover { color: blue; }

/*Define main bio section*/
.main-section {
	width: 650px;
	background-color: #ffffff;
	/*add background pattern*/
	background-image: url(../images/vintage_speckles.png);
	border-color: #dddddd;
	padding: 30px;

}

h2 {
	color: #4aaaa5;
	padding-bottom: 30px;
	border-bottom: 2px solid lightgray;

}	

img {
	float: left;
	margin-right: 10px;	
}

/*Define aside section*/
.aside-content {
	width: 270px;
	height: 175px;
	background-color: #ffffff;
	/*add background pattern*/
	background-image: url(../images/vintage_speckles.png);
	border-color: #dddddd;
	padding: 5px 5px 5px 5px;
	position: absolute;
	top: 123px;
	left: 720px;
}

h3 {
	color: #4aaaa5;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 2px solid lightgray;

}

#icon-images {
	padding-bottom: 10px;
}

/*Rotate to the left when hover over to the left*/
.hover-rotate:hover {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  
}

/*Define footer section*/
.footer {
	background-color: #666666;
	color: lightgray;
	text-align: center;
	font-size: 10px;
	padding-top: 20px;
	margin-top: -20px;
}

	
/*Define container for Portfolio page*/	

/*Portfolio section*/
.portfolio-main-section {
	width: 650px;
	height: 800px;
	background-color: #ffffff;
	background-image: url(../images/vintage_speckles.png);
	border-color: #dddddd;
	padding: 30px;
}

/*Portfolio box sections*/

.box-hangman {
	position: absolute;
	top: 260px;
	left: 60px;
	height: 180px;
	text-align: center;
	padding-right: 20px;

}

#box {
	width: 275px;
	height: 180px;
}

.hangman {
	position: absolute;	
	width: 275px;
	height: 50px;
	bottom: 10px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

a {
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: lighter;
	font-size: 20px;
	/*text-align: center;*/
	
}

.box-rpggame {
	position: absolute;
	top: 260px;
	left: 375px;
	height: 180px;
	text-align: center;
	padding-right: 20px;
}

.rpggame{
	position: absolute;	
	width: 275px;
	height: 50px;
	bottom: 10px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;

}

.box-triviagame {
	position: absolute;
	top: 475px;
	left: 60px;
	height: 180px;
	text-align: center;
	padding-right: 20px;
}

.trivia-game {
	position: absolute;	
	width: 275px;
	height: 50px;
	bottom: 10px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;


}

.box-rutgers {
	position: absolute;
	top: 475px;
	left: 375px;
	height: 180px;
	text-align: center;
	padding-right: 20px;
}

.rutgers {
	position: absolute;	
	width: 275px;
	height: 50px;
	bottom: 10px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;

}

.box-rockpaper {
	position: absolute;
	top: 690px;
	left: 60px;
	height: 180px;
	text-align: center;
	padding-right: 20px;
}

.rockpaper {
	position: absolute;	
	width: 275px;
	height: 50px;
	bottom: 10px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;

}

h4 {
	text-align: center;
	position: relative;
	top: -15px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: lighter;

}

/*Contact page*/

h5 {
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: lighter;
	font-size: 16px;
	color: gray;
	padding-left: 5px;
	margin-bottom: 1px;
	
}
	
input[type=text] {
	padding: 5px;
	color: lightgray;

}	
	
textarea {
	padding-left: 5px;
	text-align: left;
}

input[type=submit] {
	padding: 5px 15px;
	background-color: #4aaaa5;
	cursor: pointer;
	font-size: 16px;
	font-weight: lighter;
	color: #ffffff;
}

